devel/
build/
logs/
devel
build
logs
.catkin_tools/
.catkin_tools
.vscode
/src/cw2_world_spawner/src/cw2_world_spawner_lib/__pycache__
*.txt
*.pcd
/data/scripts/CMakeFiles
data/scripts/pcl_visualizer_demo
